name: Test

on:
  push:
  pull_request:
  schedule:
    # Every Friday at 18:23
    - cron: "23 18 * * 5"

jobs:
  test:
    name: ${{ matrix.lisp }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        lisp: [abcl-bin, ccl-bin, clisp, cmu-bin/21e, ecl, sbcl-bin]
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Let ASDF find the project
        run: mkdir ~/common-lisp; ln -s `pwd` ~/common-lisp/try

      - name: Install Roswell
        env:
          LISP: ${{ matrix.lisp }}
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh

      - name: Install latest MGL-PAX from GitHub
        run: ros install melisgl/mgl-pax

      - name: Install latest Named-readtables from GitHub
        run: ros install melisgl/named-readtables

      - name: Run tests
        env:
          LISP: ${{ matrix.lisp }}
        run: |
          ros run -e '(ql:quickload "try/test")' -q
          ./test/test.sh $LISP
